@CHARSET "UTF-8";



body {
        background-color: #222222;
         background-image: url('/img/low_contrast_linen.png');
    }



    .gh-ico {
        float: left;
        height: 32px;
        width: 32px;

        margin-left: 10px;

        background-image: url('https://github.com/favicon.ico');
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    .jumbotron {

        position: relative;
        padding: 40px 0;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
        background: #020031; /* Old browsers */
        background: -moz-linear-gradient(45deg, #020031 0%, #0099ff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #020031), color-stop(100%, #0099ff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #020031 0%, #0099ff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg, #020031 0%, #0099ff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg, #020031 0%, #0099ff 100%); /* IE10+ */
        background: linear-gradient(45deg, #020031 0%, #0099ff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031', endColorstr='#6d3353', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
        -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    }

    .jumbotron h1 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }

    .jumbotron p {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 30px;
    }

        /* Link styles (used on .masthead-links as well) */
    .jumbotron a {
        color: #fff;
        color: rgba(255, 255, 255, .5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .jumbotron a:hover {
        color: #fff;
        text-shadow: 0 0 10px rgba(255, 255, 255, .25);
    }

        /* Download button */
    .masthead .btn {
        padding: 19px 24px;
        font-size: 24px;
        font-weight: 200;
        color: #fff; /* redeclare to override the `.jumbotron a` */
        border: 0;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .masthead .btn:hover {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 5px rgba(0, 0, 0, .25);
    }

    .masthead .btn:active {
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0 rgba(255, 255, 255, .1);
    }

        /* Pattern overlay
        ------------------------- */
    .jumbotron .container {
        position: relative;
        z-index: 2;
    }

    .jumbotron:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(img/bs-docs-masthead-pattern.png) repeat center center;
        opacity: .4;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1) {

        .jumbotron:after {
            background-size: 150px 150px;
        }

    }

        /* Masthead (docs home)
        ------------------------- */
    .masthead {
        padding: 70px 0 80px;
        margin-bottom: 0;
        color: #fff;

    }

    .masthead h1 {
        font-size: 120px;
        line-height: 1;
        letter-spacing: -2px;
    }

    .masthead p {
        font-size: 40px;
        font-weight: 200;
        line-height: 1.25;
    }
    /* Textual links in masthead */
    .masthead-links {
        margin: 0;
        list-style: none;
    }

    .masthead-links li {
        display: inline;
        padding: 0 10px;
        color: rgba(255, 255, 255, .25);
    }
    
.container {
            margin-top: 50px;
        }

        body {
            background-image: url('/img/low_contrast_linen.png');
            color: #eee;
        }

        .well {
            border-radius: 0;
            padding: 0px 5px 5px 20px;
            border: none;
            background: none;
        }

        .label-inverse {
            color: #7a7a7a;
        }

        p.postbody {
            font-family: helvetica;
        }

        span.big {
            font-size: 2em;
            font-family: cambria;
        }

        span.half-big {
            font-size: 1.5em;
            text-transform: lowercase;
            font-style: italic;
            font-family: cambria;
        }

            /* Change the docs' brand */
        .navbar .brand {
            padding-right: 20px;
            padding-left: 0;
            margin-left: 20px;
            font-weight: bold;
            color: #000;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            transition: all .2s linear;
        }

        .navbar .brand:hover {
            text-decoration: none;
            color: #0099ff;
            text-shadow: 0 1px 0 rgba(0, 153, 255, .1), 0 0 30px rgba(0, 153, 255, .4);
        }

        .counter {
            font-size: 3.2em;
            line-height: 40px;
        }

        .modal {
            color: #000;
            width: 800px;
            margin-left: -400px;
        }

        .post {
            border-bottom: 1px dashed #3a3a3a;
            margin-bottom: 20px;
        }

        .picrelated{

            margin: 10px 10px 0px 0;

          
        }

        .postbody{
            margin-top:10px;
        }

        .navlink{
            color:#a6e22e;
        }

        .quote{
            color:#a6e22e;   
        }

        .image-holder{
            padding: 20px;
            border-bottom: 1px dashed #3a3a3a;
        }

        .save-btn{
            margin-top: 20px;
        }

        .big-image{

   
        }

        .pagination-custom ul li{
          display: inline;
           

        }
        .pagination-custom ul li .page{

            display: block;
            float: left;
            margin-right: 5px;
            width: 26px;
            height: 23px;
            background-color: #0099ff;
            border-radius: 16px;
            padding-top: 3px;

        }

        .pagination-custom ul li .current{
              width: 24px;
            height: 22px;
            padding-top: 1px;
            border: 2px solid #eee;
        }

        .pagination-custom ul li .page a{
           color:#333333; 
           font-weight: bold;

        }

        #newPost{
            cursor: pointer;
        }

        .post-cut{
            
        }